#Cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.card-img-top {
  width: 100%;
}

.card-img-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-img-bg img {
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: -1;
}

.card-text-right {
  text-align: right;
}

.card-text-left {
  text-align: left;
}

.card-text-center {
  text-align: center;
}

.card .card-body {
  padding: 1rem;
}
